<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <!--job1 setting-->
    <bean name="SendReport-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sendReport" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="SendReport-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SendReport-Job" />
        <property name="cronExpression" value="0 0 15 ? * FRI *" />
    </bean>
    
    <!--job2 setting-->
    <bean name="SyncData-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncData" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="SyncData-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SyncData-Job" />
        <property name="cronExpression" value="0 0 22 ? * MON-SAT *" />
    </bean>
    
    <!--job3 setting-->
    <bean name="SyncDataBeforeSendMail-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncData" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="SyncDataBeforeSendMail-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SyncDataBeforeSendMail-Job" />
        <property name="cronExpression" value="0 50 14 ? * FRI *" />
    </bean>
    
    <!--job4 setting-->
    <bean name="SendWhReports-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sendWhReports" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="SendWhReports-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SendWhReports-Job" />
        <property name="cronExpression" value="0 30 8 ? * MON-FRI *" />
    </bean>
    
    <!--job5 setting-->
    <bean name="SendOvertimeReport-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sendOvertimeReport" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="SendOvertimeReport-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SendOvertimeReport-Job" />
        <property name="cronExpression" value="0 0 10 ? * MON *" />
    </bean>
    
    <!--job6 setting-->
    <bean name="SendWhReportsM8-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sendWhReports1" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="SendWhReportsM8-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SendWhReportsM8-Job" />
        <property name="cronExpression" value="0 30 8 ? * MON-FRI *" />
    </bean>

    <!--schedule jobs-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="SendReport-Trig"/>
                <ref bean="SyncData-Trig"/>
                <ref bean="SyncDataBeforeSendMail-Trig"/>
                <ref bean="SendWhReports-Trig"/>
                <!--<ref bean="SendOvertimeReport-Trig"/>-->
                <ref bean="SendWhReportsM8-Trig"/>
            </list>
        </property>
        <property name="schedulerName">
            <value>jobScheduler</value>
        </property>
        
        <property name="configLocation">
            <value>classpath:quartz.properties</value>
        </property>
    </bean>
    
</beans>